

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.color-dark-grey {
  color: var(--color-dark-grey);
}

.color-very-dark-grey {
  color: vaar(--color-very-dark-grey);
}

.background-color-white {
  background-color: var(--color-white);
}

.background-color-black {
  background-color: var(--color-black);
}
