

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}

.background-color-white {
  background-color: var(--color-white);
}

.background-color-black {
  background-color: var(--color-black);
}
