@font-face {
  font-family: "Alata";
  font-weight: 400;
  src: url("../fonts/Alata/alata-regular-webfont.woff2") format("woff2"),
    url("../fonts/Alata/alata-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "Josefin Sans";
  font-weight: 300;
  src: url("../fonts/Josefin_Sans/josefinsans-variablefont_wght-webfont.woff2")
      format("woff2"),
    url("../fonts/Josefin_Sans/josefinsans-variablefont_wght-webfont.woff")
      format("woff");
}
