@mixin active-border-bottom {
  display: block;
  width: 40%;
  height: 0.05em;
  background-color: var(--color-white);
  position: absolute;
  left: 0;
  right: 0;
  margin: 4px auto;

  @media (width >= 48em) {
    height: 0.085em;
  }
}
