.hero {
  min-height: 100vh;
  background-image: url("../images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (width >= 46em) {
    background-image: url("../images/desktop/image-hero.jpg");
    min-height: 62.5vh;
  }

  @media (width >= 100em) {
    min-height: 30vh;
    max-height: 30vh;
  }

  .container {
    display: grid;
    gap: 4em;
    height: 100%;
  }

  &__border {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    padding: 1.2em;
    transform: translate(-50%, -50%);
    border: 2px solid var(--color-white);

    @media (width >= 46em) {
      position: static;
      transform: none;
      width: 28em;
      padding-right: 2em;
    }
  }
}
