@import "../abstracts/mixins";

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0;

  .navigation {
    display: flex;

    &__link {
      position: relative;
      padding-bottom: 0.2em;

      &::after {
        content: "";
      }

      &:is(:hover, :active, :focus)::after {
        @include active-border-bottom;
      }
    }

    &__content {
      display: none;
      z-index: 1;

      &.active {
        display: block;
        position: absolute;
        inset: 0;
        background-color: var(--color-black);
        padding: 0 5%;

        .navigation__list {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          gap: 0.6em;
          font-size: 2em;
          font-family: var(--secondary-font);
          margin: 35% 0;
          text-transform: uppercase;
        }
      }
    }

    &__header {
      display: flex;
      justify-content: space-between;
      padding: 2em 0;
    }
  }
}
