@use "sass:list";
@use "../abstracts/variables" as *;
@use "../components/button";

.content {
  display: flex;
  flex-direction: column;
  gap: 4em;
  min-height: 100vh;
  padding: 4em 0;

  @media (width >= 70em) {
    padding: 6em 0;
    gap: 12em;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;

  @media (width >= 70em) {
    position: relative;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__image {
    width: 100%;

    @media (width >= 70em) {
      width: 32em;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (width >= 70em) {
      position: absolute;
      top: 8em;
      left: 24em;
      padding: 4em;
      background: var(--color-white);
      width: 37.5em;
    }
  }

  &__description {
    line-height: 1.4;
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 3em;

  @media (width >= 46em) {
    gap: 4em;
  }

  &__header {
    .button {
      display: none;
    }

    @media (width >= 46em) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button {
        display: flex;
      }
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    width: 100%;

    @media (width >= 46em) {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }

    @media (width >= 58em) {
      grid-template-columns: repeat(4, minmax(10em, 1fr));
    }
  }

  .article {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 3em 2em;
    height: 14em;
    background-color: black;
    text-align: left;

    @media (width >= 46em) {
      height: 34em;
      padding: 2em;
    }

    @media (width >= 58em) {
      height: 24em;
    }

    @each $article-image in $article-mobile-images {
      $article-image-index: index($article-mobile-images, $article-image);
      &--#{$article-image-index} {
        background-image: url($article-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (width >= 46em) {
          background-image: url(list.nth(
            $article-desktop-images,
            $article-image-index
          ));
        }
      }
    }

    &__heading {
      width: 5.4em;

      @media (width >= 46em) {
        font-size: 2em;
      }
    }
  }

  &__button {
    @extend .button;
    align-self: center;

    @media (width >= 46em) {
      display: none;
      font-size: 0.8rem;
    }
  }
}
