@use "sass:list";
@use "../abstracts/variables" as *;
@use "../components/button";

.content {
  display: grid;
  gap: 4em;
  min-height: 100vh;
  padding: 4em 0;

  @media (width >= 70em) {
    padding: 6em 0;
    gap: 12em;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: 3em;
  text-align: center;

  @media (width >= 70em) {
    position: relative;
    text-align: left;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &__image {
    width: 100%;

    @media (width >= 70em) {
      width: 75%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2em;

    @media (width >= 70em) {
      position: absolute;
      top: 10em;
      left: 28.5em;
      padding: 4em;
      background: var(--color-white);
      width: 37.5em;
    }
  }

  &__description {
    line-height: 1.4;
  }
}

.gallery {
  display: grid;
  text-align: center;
  gap: 3em;

  @media (width >= 46em) {
    gap: 4em;
  }

  &__header {
    .button {
      display: none;
    }

    @media (width >= 46em) {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .button {
        display: flex;
      }
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    width: 100%;

    @media (width >= 70em) {
      grid-template-columns: repeat(4, minmax(9em, 1fr));
    }
  }

  .article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 14em;
    background-color: black;
    text-align: left;

    @media (width >= 70em) {
      height: 24em;
    }

    @each $article-image in $article-mobile-images {
      $article-image-index: index($article-mobile-images, $article-image);
      &--#{$article-image-index} {
        background-image: url($article-image);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @media (width >= 70em) {
          background-image: url(list.nth(
            $article-desktop-images,
            $article-image-index
          ));
        }
      }
    }

    &__link {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding: 3em 2em;
      z-index: 1;

      @media (width >= 46em) {
        padding: 1.5em 2em;
      }

      &:is(:hover, :active, :focus) {
        background-color: var(--article-link-active);
        color: var(--color-black);

        & + .article__overlay {
          display: none;
        }
      }
    }

    &__overlay {
      position: absolute;
      width: 50%;
      height: 100%;
      background: var(--mobile-article-overlay-linear-gradient);

      @media (width >= 46em) {
        width: 100%;
        height: 50%;
        background: var(--desktop-article-overlay-linear-gradient);
      }
    }

    &__heading {
      position: relative;
      width: 5.4em;
      z-index: 2;

      @media (width >= 46em) {
        font-size: 2em;
      }
    }
  }

  &__button {
    @extend .button;
    align-self: center;

    @media (width >= 46em) {
      display: none;
      font-size: 0.8rem;
    }
  }
}
